.progress-bar{
    z-index: 100;
    display: block;
    position: fixed;
    top: 0;
    height: 5px;
    background-color: #3F8AF1;
    width: 0%;
    opacity: 0;
    -moz-transition: width 1s, opacity 1s;
    -webkit-transition: width 1s, opacity 1s;
    -o-transition: width 1s, opacity 1s;
    transition: width 1s, opacity 1s;
}